body {
  background: #e8e2d5;
  font: 1em "Ubuntu", sans-serif;
  margin: 0;
  color: #333333; }

.wrapper {
  width: 550px;
  margin: 40px auto 80px auto;
  border: 1px solid white;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #404040 0 5px 10px;
  -moz-box-shadow: #404040 0 5px 10px;
  box-shadow: #404040 0 5px 10px; }

.header {
  position: relative;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#eceff5));
  border-bottom: 1px solid #dddddd;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px; }
  .header h1 {
    margin: 0;
    line-height: 40px;
    text-indent: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #5d758a;
    text-shadow: 0 1px 0 white;
    font-weight: bold; }

.options {
  padding: 30px 10px 10px 10px;
  position: relative; }
  .options .message {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
    color: #555555;
    font-weight: bold; }
  .options a {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #467ecc; }
    .options a:visited {
      text-decoration: none; }
  .options fieldset {
    border: 1px solid #eeeeee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px; }
    .options fieldset legend {
      color: #999999;
      font-size: 15px;
      padding: 0 5px; }
    .options fieldset input[type="text"] {
      padding: 5px;
      width: 300px; }

.actions {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(whitesmoke), to(#eceff5));
  border-top: 1px solid #dddddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
  padding: 6px 10px; }
  .actions button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: 700; }
