@import "mixins"

body
  background: #E8E2D5
  font: 1em "Ubuntu", sans-serif
  margin: 0
  color: #333

.wrapper
  width: 550px
  margin: 40px auto 80px auto
  border: 1px solid white
  background-color: white
  @include border-radius(5px)
  @include box-shadow(#404040 0 5px 10px)

.header
  position: relative
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#ECEFF5))
  border-bottom: 1px solid #DDD
  @include border-top-left-radius(5px)
  @include border-top-right-radius(5px)

  h1
    margin: 0
    line-height: 40px
    text-indent: 10px
    font-size: 20px
    font-weight: 400
    color: #5D758A
    text-shadow: 0 1px 0 white
    font-weight: bold

.options
  padding: 30px 10px 10px 10px
  position: relative

  .message
    font-size: 14px
    margin-bottom: 10px
    margin-left: 5px
    color: #555
    font-weight: bold
    line-height: 2

  a
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif
    font-size: 14px
    text-decoration: none
    color: #467ECC

    &:visited
      text-decoration: none

  fieldset
    border: 1px solid #EEE
    @include border-radius(5px)
    margin-bottom: 20px
    padding: 10px

    legend
      color: #999
      font-size: 15px
      padding: 0 5px

    input[type="text"]
      padding: 5px
      width: 300px

.actions
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(whiteSmoke), to(#ECEFF5))
  border-top: 1px solid #DDD
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  text-align: right
  padding: 6px 10px

  button
    padding: 5px 10px
    margin-right: 5px
    cursor: pointer
    font-weight: 700
