body {
  background: #e8e2d5;
  font: 13px/1.5 Helvetica, arial, sans-serif;
  margin: 0; }

.tab-menu {
  position: fixed;
  width: 229px;
  margin: 0;
  float: left;
  height: 100%;
  background: -webkit-linear-gradient(rgba(240, 240, 240, 0.5), #fdfdfd), -webkit-linear-gradient(left, #fdfdfd, #fdfdfd 97%, #dddddd);
  border-right: 1px solid;
  border-color: #c3c3c3;
  text-align: right; }
  .tab-menu h1 {
    margin: 20px 10px 17px 5px;
    font-weight: normal;
    font-size: 22px;
    padding: 0;
    color: #555555; }
  .tab-menu ul.menu {
    float: right;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding-bottom: 20px; }
    .tab-menu ul.menu li {
      text-align: right;
      width: 300px;
      list-style-type: none;
      padding: 3px 10px 3px 3px;
      margin: 5px 0 0 0; }
      .tab-menu ul.menu li a {
        text-decoration: none;
        color: #294266; }
        .tab-menu ul.menu li a:visited {
          text-decoration: none; }

.content {
  float: left;
  width: 60%;
  margin-left: 25%; }

.wrapper {
  width: 550px;
  margin: 40px auto 80px auto;
  border: 1px solid white;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #404040 0 5px 10px;
  -moz-box-shadow: #404040 0 5px 10px;
  box-shadow: #404040 0 5px 10px; }

.header {
  position: relative;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#eceff5));
  border-bottom: 1px solid #dddddd;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px; }
  .header h1 {
    margin: 0;
    line-height: 40px;
    text-indent: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #5d758a;
    text-shadow: 0 1px 0 white;
    font-weight: bold; }

.options {
  padding: 30px 10px 10px 10px;
  position: relative; }
  .options fieldset {
    border: 1px solid #eeeeee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px; }
    .options fieldset legend {
      color: #999999;
      font-size: 15px;
      padding: 0 5px; }
    .options fieldset input[type="text"] {
      padding: 5px;
      width: 300px; }

.actions {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(whitesmoke), to(#eceff5));
  border-top: 1px solid #dddddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
  padding: 6px 10px; }
  .actions button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: 700; }
