!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Social HN
    %link{:rel => "stylesheet", :href => "../stylesheet/options.css"}
    %script{:src => "../javascripts/vendor/jquery.js"}
    %script{:src => "../javascripts/options.js"}
    %script{:type => "text/javascript", :src => "https://ssl.google-analytics.com/ga.js"}
  %body
    .tab-menu
      %h1
        Links
      %ul.menu
        %li
          %a{:href => "http://socialhn.r12.railsrumble.com/login/google_oauth2"}
            Web Site
        %li
          %a{:href => "http://socialhn.r12.railsrumble.com/login/google_oauth2"}
            Login with Google Account
        %li
          %a{:href => "http://socialhn.r12.railsrumble.com/login/facebook"}
            Login with Facebook
    .content
      .wrapper
        .header
          %h1 Social HN
        .options
          %fieldset
            %legend
              Settings
            Api key:
            %input{:name =>"apiKey", :id => "apiKey", :type => "text"}
        .actions
          %button#save Save
