<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='utf-8' />
    <title>Social HN</title>
    <link href='../stylesheet/options.css' rel='stylesheet' />
    <script src='../javascripts/vendor/jquery.js'></script>
    <script src='../javascripts/options.js'></script>
    <script src='https://ssl.google-analytics.com/ga.js' type='text/javascript'></script>
  </head>
  <body>
    <div class='tab-menu'>
      <h1>
        Links
      </h1>
      <ul class='menu'>
        <li>
          <a href='http://socialhn.r12.railsrumble.com/login/google_oauth2'>
            Web Site
          </a>
        </li>
        <li>
          <a href='http://socialhn.r12.railsrumble.com/login/google_oauth2'>
            Login with Google Account
          </a>
        </li>
        <li>
          <a href='http://socialhn.r12.railsrumble.com/login/facebook'>
            Login with Facebook
          </a>
        </li>
      </ul>
    </div>
    <div class='content'>
      <div class='wrapper'>
        <div class='header'>
          <h1>Social HN</h1>
        </div>
        <div class='options'>
          <fieldset>
            <legend>
              Settings
            </legend>
            Api key:
            <input id='apiKey' name='apiKey' type='text' />
          </fieldset>
        </div>
        <div class='actions'>
          <button id='save'>Save</button>
        </div>
      </div>
    </div>
  </body>
</html>
