!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Social HN
    %link{:rel => "stylesheet", :href => "../stylesheet/options.css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,latin-ext"}
    %script{:src => "../javascripts/vendor/jquery.js"}
    %script{:src => "../javascripts/options.js"}
  %body
    .wrapper
      .header
        %h1 Social HN
      .options
        .message
          Get an API key for free by login with
          %a{:href => "http://socialhn.r12.railsrumble.com/login/twitter"}
            Twitter
          |
          %a{:href => "http://socialhn.r12.railsrumble.com/login/google_oauth2"}
            Google Account
          |
          %a{:href => "http://socialhn.r12.railsrumble.com/login/facebook"}
            Facebook
          or
          %a{:href => "http://socialhn.r12.railsrumble.com/auth/anonymous"}
            Try it as guest
        %fieldset
          %legend
            Settings
          %label Api key
          %input{:name =>"apiKey", :id => "apiKey", :type => "text"}
      .actions
        %button#save Save
