%html
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "../stylesheet/popup.css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,latin-ext"}
    %script{:src => "../javascripts/vendor/jquery.js"}
    %script{:src => "../javascripts/popup.js"}
  %body
    .header
      %a.title{:href => "http://socialhn.r12.railsrumble.com", :title => "Open Social HN", :target => "_blank"}
      %a.settings{:href => "options.html", :title => 'Settings', :target => "_blank"}
    .notices

