<html>
  <head>
    <meta charset='utf-8' />
    <link href='../stylesheet/popup.css' rel='stylesheet' />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;amp;subset=latin,latin-ext' rel='stylesheet' />
    <script src='../javascripts/vendor/jquery.js'></script>
    <script src='../javascripts/popup.js'></script>
  </head>
  <body>
    <div class='header'>
      <a class='title' href='http://socialhn.r12.railsrumble.com' target='_blank' title='Open Social HN'></a>
      <a class='settings' href='options.html' target='_blank' title='Settings'></a>
    </div>
    <div class='notices'></div>
  </body>
</html>
